<.header>
  Edit Tarefas <%= @tarefas.id %>
  <:subtitle>Use this form to manage tarefas records in your database.</:subtitle>
</.header>

<.tarefas_form changeset={@changeset} action={~p"/tarefas/#{@tarefas}"} />

<.back navigate={~p"/tarefas"}>Back to tarefas</.back>
