<.header>
  Nova Tarefa
  <:subtitle>Use this form to manage tarefas records in your database.</:subtitle>
</.header>

<.tarefas_form changeset={@changeset} action={~p"/tarefas"} />

<.back navigate={~p"/tarefas"}>Voltar para lista de tarefas!</.back>
