<.simple_form :let={f} for={@changeset} action={@action}>
  <.error :if={@changeset.action}>
    Oops, something went wrong! Please check the errors below.
  </.error>
  <.input field={f[:pessoa]} type="text" label="Pessoa" />
  <.input field={f[:afazer]} type="text" label="Afazer" />
  <.input field={f[:progresso]} type="text" label="Progresso" />
  <.input field={f[:comentarios]} type="text" label="Comentarios" />
  <:actions>
    <.button>Save Tarefas</.button>
  </:actions>
</.simple_form>
