<.header>
  Edit Tarefa <%= @tarefa.id %>
  <:subtitle>Use this form to manage tarefa records in your database.</:subtitle>
</.header>

<.tarefa_form changeset={@changeset} action={~p"/tarefa/#{@tarefa}"} />

<.back navigate={~p"/tarefa"}>Back to tarefa</.back>
