<.header>
  Editar Tarefa <%= @tarefa.id %>
  <:subtitle>Use este formulário para gerenciar registros de tarefas.</:subtitle>
</.header>

<.tarefa_form changeset={@changeset} action={~p"/tarefa/#{@tarefa}"} />

<.back navigate={~p"/tarefa"}>Back to tarefa</.back>
