<.header>
  Nova Tarefa
  <:subtitle>Use este formulário para gerenciar registros de novas Tarefas.</:subtitle>
</.header>

<.tarefa_form changeset={@changeset} action={~p"/tarefa"} />

<.back navigate={~p"/tarefa"}>Voltar para lista de Tarefas</.back>
